
<b>Name: </b>
<span>@FirstName</span>  <span>@LastName</span><br />
<b>Email: </b><span>@Email</span><br />
<br />
@code {
    [Parameter]
    public string FirstName { get; set; }
    [Parameter]
    public string LastName { get; set; }
    [Parameter]
    public string Email { get; set; }
}
